<div class="h-full p-12 bg-ashgreen ">
    <div class="flex items-center justify-center gap-8">
        <div class="bg-white/90 h-fit w-160 p-4">
			<div class="flex items-center gap-4">
				<div class="bg-rawbrown/20 rounded-full p-4 flex items-center justify-start w-fit">
					<ion-icon class="text-6xl text-rawbrown" name="construct"></ion-icon>
				</div>
				<span class="font-amatic text-rawbrown text-6xl font-black">Backend</span>
			</div>
			<div class="w-full h-[2px] bg-rawbrown/40 my-2"></div>
			<p class="font-quattrocento text-rawbrown font-medium text-wrap">El backend es donde me siento m치s c칩modo y creativo. Me especializo en el desarrollo de APIs, 
				l칩gica de negocio, gesti칩n de datos y seguridad. Me encanta estructurar arquitecturas limpias y eficientes, y trabajar con bases de datos y sistemas que escalan bien.
			</p>
			<br>
			<p class="font-quattrocento text-rawbrown font-medium mb-2">Tengo experiencia construyendo soluciones backend con:</p>
			<br>
			<ul class="list-disc list-inside pl-4 space-y-2 ">
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					ASP.NET Core / Blazor Server / C#
				</li>
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					Laravel / PHP
				</li>
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					Flask / Python
				</li>
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					Entity Framework, <span class="font-medium">SQL Server</span>
				</li>
			</ul>
		</div>
        <div class="bg-white h-fit w-fit p-4">
            <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
                <li class="mb-10 ms-6">            
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </span>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on January 13th, 2022</time>
                    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.</p>
                    
                </li>
                <li class="mb-10 ms-6">
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </span>
                    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Flowbite Figma v1.3.0</h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on December 7th, 2021</time>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.</p>
                </li>
                <li class="ms-6">
                    <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                        <svg class="w-2.5 h-2.5 text-blue-800 dark:text-blue-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </span>
                    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Flowbite Library v1.2.2</h3>
                    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Released on December 2nd, 2021</time>
                    <p class="text-base font-normal text-gray-500 dark:text-gray-400">Get started with dozens of web components and interactive elements built on top of Tailwind CSS.</p>
                </li>
            </ol>
        </div>
    </div>
</div>