<div class="h-full p-12 bg-ashgreen ">
    <div class="flex items-center justify-center gap-8">
        <div class="bg-white/90 h-fit w-160 p-4">
			<div class="flex items-center gap-4">
				<div class="bg-rawbrown/20 rounded-full p-4 flex items-center justify-start w-fit">
					<ion-icon class="text-6xl text-rawbrown" name="bulb"></ion-icon>
				</div>
				<span class="font-amatic text-rawbrown text-6xl font-black">Backend</span>
			</div>
			<div class="w-full h-[2px] bg-rawbrown/40 my-2"></div>
			<p class="font-quattrocento text-rawbrown font-medium text-wrap">El backend es donde me siento más cómodo y creativo. Me especializo en el desarrollo de APIs, 
				lógica de negocio, gestión de datos y seguridad. Me encanta estructurar arquitecturas limpias y eficientes, y trabajar con bases de datos y sistemas que escalan bien.
			</p>
			<br>
			<p class="font-quattrocento text-rawbrown font-medium mb-2">Tengo experiencia construyendo soluciones backend con:</p>
			<br>
			<ul class="list-disc list-inside pl-4 space-y-2 ">
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					ASP.NET Core / Blazor Server / C#
				</li>
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					Laravel / PHP
				</li>
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					Flask / Python
				</li>
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					Entity Framework, <span class="font-medium">SQL Server</span>
				</li>
			</ul>
		</div>


        <div class="bg-white/90 h-fit w-fit pt-5 pl-9 pr-5">
            <ol class="relative border-l-[4px] border-rawbrown -mb-4">                  
                <li class="mb-10 ml-10">            
                    <span class="absolute flex items-center justify-center w-10 h-10 bg-white rounded-full ring-8 ring-tan -left-[calc(var(--spacing)*5+2px)]">
                        <ion-icon class="text-rawbrown text-2xl" name="school"></ion-icon>
                    </span>
                    <h3 class="mb-1 text-4xl font-amatic font-semibold text-feldgrau">Bachillerato</h3>
                    <time class="block mb-2 text-sm font-quattrocento font-normal leading-none text-indired">Agosto 2019 - Julio 2021</time>
                    <p class="text-base font-quattrocento font-medium text-rawbrown">Durante mi formación en el Colegio de Bachilleres del Estado de Veracruz (COBAEV), 
                        comencé a desarrollar páginas web y aplicaciones de escritorio utilizando Visual Basic como parte de mi especialización en .NET. Aunque realicé pocos proyectos, 
                        estas experiencias fueron fundamentales para definir mi interés y elección de carrera profesional.</p>
                </li>
                <li class="mb-10 ml-10">            
                    <span class="absolute flex items-center justify-center w-10 h-10 bg-white rounded-full -left-[calc(var(--spacing)*5+2px)] ring-8 ring-tan">
                        <ion-icon class="text-rawbrown text-2xl" name="school"></ion-icon>
                    </span>
                    <h3 class="mb-1 text-4xl font-amatic font-semibold text-feldgrau">Instituto Tecnológico Superior de Tantoyuca - ITSTA</h3>
                    <time class="block mb-2 text-sm font-quattrocento font-normal leading-none text-indired">Agosto 2021 - Actualidad</time>
                    <p class="text-base font-quattrocento font-medium text-rawbrown">Actualmente, estoy cursando la carrera de Ingeniería en Sistemas Computacionales en 
                        el Instituto Tecnológico Superior de Tantoyuca (ITSTA). Durante mi formación, he participado en diversos proyectos, principalmente 
                        enfocados en el desarrollo web, con un énfasis particular en la implementación y optimización de soluciones backend.
                    </p>
                </li>
                <li class="mb-10 ml-10">            
                    <span class="absolute flex items-center justify-center w-10 h-10 bg-white rounded-full -left-[calc(var(--spacing)*5+2px)] ring-8 ring-tan">
                        <ion-icon class="text-rawbrown text-2xl" name="terminal"></ion-icon>
                    </span>
                    <h3 class="mb-1 text-4xl font-amatic font-semibold text-feldgrau">Sanver Forte - Residencia Profesional</h3>
                    <time class="block mb-2 text-sm font-quattrocento font-normal leading-none text-indired">10 de Febrero 2025 - Actualidad</time>
                    <p class="text-base font-quattrocento font-medium text-rawbrown">Actualmente, me desempeño en el área de desarrollo de software en una empresa 
                        ferretera como parte del programa Dual. Junto con un compañero, estamos desarrollando un sistema de control de inventarios 
                        y requisiciones. Este sistema está siendo implementado utilizando ASP.NET Core y Blazor Server, diseñado específicamente 
                        para operar en una intranet corporativa.
                    </p>
                </li>
            </ol>
        </div>
    </div>
</div>