<div class="flex items-center justify-center w-full mt-32 gap-4">
	<div class="flex w-80 h-80 bg-tan justify-center items-center uppercase text-latte">
		foto
	</div>
	<div class="flex flex-col w-120 text-feldgrau">
		<h1 class="text-8xl font-amatic -indent-33 ml-33">Hola, soy Ivan Azuara</h1>
		<span class="font-quattrocento mt-4 text-xl font-normal">Desarrollador web con alma de artista, amante del oto帽o, las historias visuales y las interfaces c谩lidas. 
			Me gusta crear experiencias digitales que se sientan como una caminata tranquila por el bosque: simples, bellas y significativas.
		</span>
	</div>
</div>

<div class="mt-8 h-full py-12 bg-[url(../assets/Background-Welcome.jpg)] bg-fixed bg-cover text-lg">

	<h2>Min Habilidades</h2>
	<div class="flex flex-wrap justify-center items-center gap-12">
		<div class="bg-white/90 h-fit w-160 p-4">
			<div class="flex items-center gap-4">
				<div class="bg-rawbrown/20 rounded-full p-4 flex items-center justify-start w-fit">
					<ion-icon class="text-6xl text-rawbrown" name="construct"></ion-icon>
				</div>
				<span class="font-amatic text-rawbrown text-6xl font-black">Backend</span>
			</div>
			<div class="w-full h-[2px] bg-rawbrown/40 my-2"></div>
			<p class="font-quattrocento text-rawbrown font-medium text-wrap">El backend es donde me siento m谩s c贸modo y creativo. Me especializo en el desarrollo de APIs, 
				l贸gica de negocio, gesti贸n de datos y seguridad. Me encanta estructurar arquitecturas limpias y eficientes, y trabajar con bases de datos y sistemas que escalan bien.
			</p>
			<br>
			<p class="font-quattrocento text-rawbrown font-medium mb-2">Tengo experiencia construyendo soluciones backend con:</p>
			<br>
			<ul class="list-disc list-inside pl-4 space-y-2 ">
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					ASP.NET Core / Blazor Server / C#
				</li>
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					Laravel / PHP
				</li>
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					Flask / Python
				</li>
				<li class="font-quattrocento text-rawbrown font-semibold flex items-center gap-2">
					<ion-icon class="text-feldgrau text-xl" name="checkmark-circle"></ion-icon>
					Entity Framework, <span class="font-medium">SQL Server</span>
				</li>
			</ul>
		</div>

		<div class="bg-white/90 h-fit w-160 p-4">
			<div class="flex items-center gap-4">
				<div class="bg-feldgrau/20 rounded-full p-4 flex items-center justify-start w-fit">
					<ion-icon class="text-6xl text-feldgrau" name="color-palette"></ion-icon>
				</div>
				<span class="font-amatic text-feldgrau text-6xl font-black">Frontend</span>
			</div>
			<div class="w-full h-[2px] bg-feldgrau/40 my-2"></div>
			<p class="font-quattrocento text-feldgrau">Aunque no es mi principal enfoque, tambi茅n puedo aportar en el desarrollo frontend. 
				Me interesa construir interfaces limpias, accesibles y visualmente agradables, especialmente cuando se combinan con buenas pr谩cticas de dise帽o.
			</p>
			<br>
			<p class="font-quattrocento text-feldgrau font-medium mb-2">He trabajado con:</p>
			<br>
			<ul class="list-disc list-inside pl-4 space-y-2 ">
				<li class="font-quattrocento text-feldgrau font-bold flex items-center gap-2">
					<ion-icon class="text-indired text-xl" name="checkmark-circle"></ion-icon>
					Blazor (WebAssembly / Server)
				</li>
				<li class="font-quattrocento text-feldgrau font-bold flex items-center gap-2">
					<ion-icon class="text-indired text-xl" name="checkmark-circle"></ion-icon>
					Astro
				</li>
				<li class="font-quattrocento text-feldgrau font-bold flex items-center gap-2">
					<ion-icon class="text-indired text-xl" name="checkmark-circle"></ion-icon>
					JavaScript / TypeScript
				</li>
				<li class="font-quattrocento text-feldgrau font-medium flex items-center gap-2">
					<ion-icon class="text-indired text-xl" name="checkmark-circle"></ion-icon>
					Componentes responsivos y accesibles
				</li>
			</ul>
		</div>

		<div class="bg-white/90 h-fit w-160 p-4">
			<div class="flex items-center gap-4">
				<div class="bg-indired/20 rounded-full p-4 flex items-center justify-start w-fit">
					<ion-icon class="text-6xl text-indired" name="phone-portrait"></ion-icon>
				</div>
				<span class="font-amatic text-indired text-6xl font-black">Aplicaciones m贸viles</span>
			</div>
			<div class="w-full h-[2px] bg-indired/40 my-2"></div>
			<p class="font-quattrocento text-indired text-lg font-medium">Tambi茅n he participado en la creaci贸n de aplicaciones m贸viles h铆bridas y nativas, 
				contribuyendo tanto al dise帽o de la l贸gica como a la integraci贸n con servicios backend y APIs.
			</p>
			<br>
			<p class="font-quattrocento text-indired font-medium mb-2">Herramientas con las que he trabajado:

			</p>
			<br>
			<ul class="list-disc list-inside pl-4 space-y-2 ">
				<li class="font-quattrocento text-indired font-bold flex items-center gap-2">
					<ion-icon class="text-rawbrown text-xl" name="checkmark-circle"></ion-icon>
					Blazor Hybrid
				</li>
				<li class="font-quattrocento text-indired font-bold flex items-center gap-2">
					<ion-icon class="text-rawbrown text-xl" name="checkmark-circle"></ion-icon>
					Kotlin (Android nativo)
				</li>
			</ul>
		</div>
	</div>
</div>

<div>

</div>