<div class="fixed flex justify-center items-center top-4 left-1/2 transform -translate-x-1/2 z-100">
	<nav class="bg-feldgrau shadow w-152 pt-1">
		<div class="h-18 mx-auto px-4 container flex items-center justify-between flex-wrap">
			<div class="flex flex-col items-center group w-[45px] cursor-pointer">
				<ion-icon class="text-4xl text-ashgreen group-hover:text-feldgrau transition-all" name="beer"></ion-icon>
				<div class="h-[2px] w-full mt-[3px] bg-ashgreen flex items-center transition-all
					group-hover:h-[45px] group-hover:-mt-[40px]">
				</div>
			</div>
			<div class="flex items-center text-latte">
				<ul class="flex font-black justify-center gap-x-6 font-amatic text-2xl">
					<div class="flex-col items-center group">
						<li class="group-hover:text-feldgrau transition-all"><a href="#">Inicio</a></li>
						<div class="h-[2px] w-[calc(100%+8px)] bg-latte flex items-center transition-all
							group-hover:h-[36px] group-hover:-mt-[34px] -mx-[4px]">
						</div>
					</div>
					<div class="flex-col items-center group">
						<li class="group-hover:text-feldgrau transition-all"><a href="#">Acerca de mi</a></li>
						<div class="h-[2px] w-[calc(100%+8px)] bg-latte flex items-center transition-all
							group-hover:h-[36px] group-hover:-mt-[34px] -mx-[4px]">
						</div>
					</div>
					<div class="flex-col items-center group">
						<li class="group-hover:text-feldgrau transition-all"><a href="#">Proyectos</a></li>
						<div class="h-[2px] w-[calc(100%+8px)] bg-latte flex items-center transition-all
							group-hover:h-[36px] group-hover:-mt-[34px] -mx-[4px]">
						</div>
					</div>
				</ul>
			</div>
			<div class="flex justify-between gap-4 text-ashgreen">
				<div class="flex flex-col items-center group w-[45px] cursor-pointer">
					<ion-icon class="text-4xl text-ashgreen group-hover:text-feldgrau transition-all" name="language"></ion-icon>
					<div class="h-[2px] w-full mt-[3px] bg-ashgreen flex items-center transition-all
						group-hover:h-[45px] group-hover:-mt-[40px]">
					</div>
				</div>
				
				<div class="flex flex-col items-center group w-[45px] cursor-pointer">
					<ion-icon class="text-4xl text-ashgreen group-hover:text-feldgrau transition-all" name="sunny"></ion-icon>
					<div class="h-[2px] w-full mt-[3px] bg-ashgreen flex items-center transition-all
						group-hover:h-[45px] group-hover:-mt-[40px]">
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
<slot />